
parameters:
    level: max
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Method .*::(detectManager|isShikiInstalled|installShiki|createTemporaryConfig)\(\) is unused#'
        - '#Out of .* possible property types, only .* actually have it#'
